*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background: #FFF;
    overflow-x: hidden;
}

.borde{
    border: 0px solid #fff;
}

.centrado{
    margin-left: 50%;
    transform: translateX(-50%);
}
header{
    height: 10%;
    background: #13322b;
    color: #FFFFFF;
}
.titulo{
    margin-left: 10px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}
footer {
    background: #13322b;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}
#logoIGG{
    margin-top: 10px;
    margin-left: 30px;
    width: 40px;
}
.contenedorLogin{
    border: 0px solid #FFFFFF;
    width: 30%;
    margin-left: 50%;
    background: rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 60px 10px 50px 10px;
}

input[type=text],
input[type=password]{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    margin: 20px 0px 20px 0px;
}

h3{
    width: 100%;
    color: #2c6658;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px 20px 0px;
}

.btnInicio {
    width: 60%;
    background: #1bbc8e;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #1bbc8e;
    margin-top: 20PX;
}

.btnInicio:hover {
    background: #16a179;
    border: 1px solid #16a179;
}



@media screen and (max-width: 767px) {
    .contenedorLogin{
        border: 0px solid #FFFFFF;
        width:100%;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 20%;
        background: rgba(0,0,0,0.2);
        border-radius: 10px;
        padding: 30px 10px 30px 10px;
    }
    input[type=text],
    input[type=password]{
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 18px;
        margin: 20px 0px 20px 0px;
    }
    .btnInicio {
        width: 100%;
        background: #1bbc8e;
        padding: 10px 20px 10px 20px;
        font-size: 19px;
        border-radius: 5px;
        border: 1px solid #16a179;
        margin-top: 20PX;
    }
}